body{
    margin: 0;
}

*{
    box-sizing: border-box;
}

#horizontal-menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(140, 93, 161); /*arsimtarja e ka bo me ngjyra hex*/
}

#horizontal-menu li{
    float: left;
}

#horizontal-menu li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#horizontal-menu li a:hover:not(.active){
    background-color: rgb(84, 53, 121);
}

.active{
    background-color: rgb(204, 127, 240);
}

.navbar{
    overflow: hidden;
    background-color: rgb(191, 93, 236);
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a{
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown{
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn{
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn{
    background-color: rgb(84, 53, 121);
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgb(191, 93, 236);
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.column{
    float: left;
    width: 33.33%;
    padding: 10px;
    background-color: rgb(209, 149, 236);
    height: 250px;
}

.column a{
    float: left;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.column a:hover{
    background-color: rgb(84, 53, 121);
}

.row::after{
    display: table;
    clear: both;
    }
