div#static{
    position: static;
    border: 3px solid blue;
    width: 250px;
    height: 250px;
    padding: 20px;
}

div#relative{
    position: relative;
    border: 3px solid purple;
    width: 250px;
    height: 250px;
    padding: 20px;
    left: 200px;
    top: 20px;
}

div#fixed{
    position: fixed;
    border: 3px solid palevioletred;
    width: 250px;
    height: 250px;
    padding: 20px;
    right: 200px;
    top: 100px;
}

#h1fixed{
    position: fixed;
    right: 300px;
    top: 20px;
}

div#parent{
    position: relative;
    width: 250px;
    height: 250px;
    border: 3px solid aqua;
}

div#absolute{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: magenta;
    right: 80px;
    top: 70px;
    color: white;
}

div#sticky{
    position: sticky;
    background-color: darkslateblue;
    padding: 20px;
    color: hotpink;
}