.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f3bbbb;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.tooltip{
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted rgb(204, 108, 108);
}


.tooltip .tooltiptext{
    visibility: hidden;
    width: 120px;
    background-color: rgb(241, 143, 143);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}


.tooltip .tooltiptext::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(241, 143, 143) transparent transparent transparent;
}

.tooltip:hover .tooltiptext{
    visibility: visible;
}