:root{
    --primary-color: #094e7c;
    --secondary-color: #fff;
    --padding: 20px;
}

h1{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: var(--padding);
}

p{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: var(--padding);
}

#example-one{
    margin: 10px;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background: #0160a0;
}

#example-two{
    margin: 10px;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: 3px solid #0160a0;
}

#example-three{
    margin: 10px;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    background: url(bglines.PNG)
}

#example-four{
    margin: 10px;
    width: 150px;
    height: 150px;
    border-radius: 5px 60px 5px ;
    background: #0b4d79;
}

#example-five{
    margin: 10px;
    width: 150px;
    height: 150px;
    border-radius: 10px/30px; ;
    background: #124769;
}

#example-six{
    margin: 10px;
    width: 150px;
    height: 150px;
    border-radius: 30px/10px; ;
    background: #3ba9f3;
}