/*ul{
    list-style-type:none;
    padding: 0px;
    border: 2px solid grey;
}

ul li{
    padding:8px 16px;
    border-bottom: 1px solid grey;
}*/

ol{
    /*list-style-type: upper-roman;*/
    background: #ffeeee;
    padding: 15px;
}

ol li{
    background: #ffe5e5;
    padding: 10px;
    margin-left: 30px;
}

ul{
    border-left: 5px solid green;
    background-color: #f1f1f1;
    list-style-type: none;
    padding: 15px 25px;
    font-size: 20px;
}