h1{
    color: green;
    letter-spacing: 20px;
    word-spacing: 20px;
}
p{
    text-indent: 50px;
    text-align: center;
   /* writing-mode: vertical-lr;*/
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
h2{
    text-decoration: overline;
    font-size: 20px;
}
h3{
    text-decoration: line-through;
}
h4{
    text-decoration: underline;
}

.myElement{
    color: blue !important; 
}

#normalText{
    font-style: normal;
    font-weight: normal;
}
#italicText{
    font-style: italic;
    font-weight: bold;
}
#obliqueText{
    font-style: oblique;
    font-weight: 900;
}
a{
    color: red;
}