div.gallery{
    margin:5px;
    border:1px solid #c98cf1;
    float:left;
    width:180px;
}

div.gallery:hover{
    border:1px solid #b079c5;
}
div.gallery img{
    width:100%;
    height:180px;
}
div.desc{
    padding:15px;
    text-align:center;
}

a[href="https://shkolladigjitale.com/"]{
    color: rgb(201, 147, 214);
}

p[class*="ds"]{
    background: #bb40ec;
    color: white;
    padding: 20px;
}

div[id~="ds"]{
    background: #d1afdf;
    color: white;
    padding: 20px;
}

img[title^="blue"]{
    border: 2px solid #6d66ca;
}

h1[class|="heading_1"]{
    background: #9566ca;
    padding: 20px;
    color: white;
}