body{
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}

#section-1{
    background-color: #1A3A8F;
    height: 600px;
}

.container{
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

header{
    padding: 55px;
    display: flex;
    justify-content: space-around;
}

nav ul li{
    display: inline-block;
    padding: 10px 16px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li.active{
    background-color: #0B1F3B;
    border-radius: 5px;
}

.main-heading{
    margin-top: 148px;
    text-align: center;
}

.main-heading h1{
    color: #D4AF37;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 60px;
}

.main-heading p{
    font-size: 18px;
    color: white;
}

#section-2{
    background-color: #0B1F3B;
    min-height: 745px;
    color: white;
}

.title-box{
    text-align: center;
    max-width: 609px;
    margin-left: auto;
    margin-right: auto;
}


.title-box h2{
    color: #D4AF37;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-top: 100px;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
}

.title-box .line{
    width: 87px;
    height: 4px;
    background-color: #1A3A8F ;
    margin-left: auto;
    margin-right: auto;
}

.services-box{
    margin-top: 80px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-bottom: 100px;
}

.service{
    width: 24%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.service h3{
    color: #D4AF37;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 60px;
}
.service p{
    font-size: 16px;
    line-height: 26px;
}

#section-3{
    background-color: #1A3A8F;
    min-height: 820px;
    color: white;
}

#contact-form{
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
}

.form-row{
    display: flex;
}

input[type="text"], input[type="email"]{
    width: 46%;
    height: 56px;
}

input[type="text"], input[type="email"], textarea{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: #2047B1;
    border: none;
    font-size: 18px;
    margin: 16px;
    border-radius: 5px;
    padding-left: 26px;
}

textarea{
    height: 200px;
    width: 100%;
    padding-top: 24px;
}

input[type="submit"]{
    background-color: #D4AF37;
    border: none;
    font-size: 18px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-top: 60px;
}

.big-button{
    padding: 25px 85px;
    color: #1A3A8F;
}

footer{
    background-color: #0B1F3B;
}

.footer-links{
    max-width: 945px;
    margin-left: auto;
    margin-right: auto;
}

footer ul{
    margin: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
}

.footer-links ul li{
    display: inline-block;
    padding: 10px 20px 10px 20px;
}

.footer-links ul li a{
    text-decoration: none;
    color: #D4AF37;
    font-size: 24px;
}